<h1>Show Item</h1>
<table>
  <thead>
  <tr><th>ItemID</th>
    <th>ItemCategoryID</th>
    <th>Name</th>
    <th>Rate</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><%= @item.id %></td>
    <td><%= @item.item_category_id %></td>
    <td><%= @item.name %></td>
    <td><%= @item.rate %></td>
  </tr>
  </tbody>
</table>
<%= link_to "Back", items_path%>